canvas.avatar {

	max-width: 100%;
	image-rendering: pixelated;

}

#wpadminbar #wp-admin-bar-my-account.with-avatar > .ab-empty-item canvas,
#wpadminbar #wp-admin-bar-my-account.with-avatar > a canvas {

	width: 16px;
	height: 16px;
	margin-top: -4px;
	margin-inline-start: 6px;
	float: none;
	border-radius: 0;

	@media screen and (max-width: 782px) {

		position: absolute;
		top: 13px;
		right: 10px;
		width: 26px;
		height: 26px;

	}

}

