.toolbelt-anchor {

	.toolbelt-link {

		display: inline;
		text-decoration: none;
		padding: 0.5em;

		.device-click & {

			display: none;

		}

	}

	&:hover,
	&:focus {

		.toolbelt-link {

			display: inline;

		}

	}

}


