.toolbelt-anchor {

	.toolbelt-link {

		display: inline;
		text-decoration: none;
		padding: 0.5em;
		position: absolute;
		// Shift the link so to offset the padding.
		transform: translate( -0.25em, -0.5em );

		.device-click & {

			display: none;

		}

	}

	&:hover,
	&:focus {

		.toolbelt-link {

			display: inline;

		}

	}

}


