{
	"presets": [
		"@babel/preset-env",
		"@wordpress/babel-preset-default"
	],
	"plugins": [
		[
			"@babel/plugin-proposal-object-rest-spread",
			{
				"useBuiltIns": true,
				"loose": true
			}
		],
		[
			"@babel/plugin-proposal-class-properties",
			{
				"loose": true
			}
		],
		[
			"@babel/plugin-proposal-private-methods",
			{
				"loose": true
			}
		]
	]
}