includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/modules/
        - %currentWorkingDirectory%/admin/
    autoload_files:
        - %currentWorkingDirectory%/index.php
        - %currentWorkingDirectory%/admin/admin.php
        - %currentWorkingDirectory%/admin/tools-functions.php
        # Modules
        - %currentWorkingDirectory%/modules/breadcrumbs/module.php
        - %currentWorkingDirectory%/modules/cleanup/module.php
        - %currentWorkingDirectory%/modules/cookie-banner/module.php
        - %currentWorkingDirectory%/modules/disable-comment-urls/module.php
        - %currentWorkingDirectory%/modules/fast-404/module.php
        - %currentWorkingDirectory%/modules/featured-attachment/module.php
        - %currentWorkingDirectory%/modules/heading-anchors/module.php
        - %currentWorkingDirectory%/modules/lazy-load/module.php
        - %currentWorkingDirectory%/modules/projects/module.php
        - %currentWorkingDirectory%/modules/random-redirect/module.php
        - %currentWorkingDirectory%/modules/related-posts/module.php
        - %currentWorkingDirectory%/modules/responsive-videos/module.php
        - %currentWorkingDirectory%/modules/social-menu/module.php
        - %currentWorkingDirectory%/modules/social-sharing/module.php
        - %currentWorkingDirectory%/modules/widget-display/module.php
        - %currentWorkingDirectory%/modules/widget-display/module-admin.php
        - %currentWorkingDirectory%/modules/widget-display/module-frontend.php
    ignoreErrors:
        # Uses func_get_args()
        - '#^Function add_query_arg invoked with [123] parameters?, 0 required\.$#'
