includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/modules/
        - %currentWorkingDirectory%/admin/
    autoload_files:
        - %currentWorkingDirectory%/index.php
        - %currentWorkingDirectory%/admin/admin.php
        - %currentWorkingDirectory%/admin/tools-functions.php
        # Modules
        - %currentWorkingDirectory%/modules/*/module.php
        - %currentWorkingDirectory%/modules/widget-display/module-admin.php
        - %currentWorkingDirectory%/modules/widget-display/module-frontend.php
    ignoreErrors:
        # Uses func_get_args()
        - '#^Function add_query_arg invoked with [123] parameters?, 0 required\.$#'
