@import '_shared';

// View styles
.wp-block-toolbelt-star-rating {

	margin-bottom: var( --toolbelt-spacing );
	line-height: 0;
	stroke-width: 0;
	display: block;

	> p {

		// These rules hide the element visually, but not to screen readers.
		// https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/#the-css
		border: 0;
		clip: rect(1px, 1px, 1px, 1px);
		clip-path: inset(50%);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
		word-wrap: normal !important;

	}

	> span {

		display: inline-flex !important;

		@include star-properties();

	}

}