.toolbelt-breadcrumbs {

	margin-bottom: calc( var( --toolbelt-spacing ) * 2 );
	padding: 0;

	li {

		list-style-type: none;

	}

	> a,
	> li {

		display: inline-block;

	}

	a {

		font-weight: bold;
		position: relative;
		text-decoration: none;

		span {

			text-decoration: underline;

		}

		&:focus,
		&:hover {

			span {

				text-decoration: none;

			}

		}

		// Separator.
		&:after {

			content: '\25B6';
			font-family: monospace;
			margin: 0 calc( var( --toolbelt-spacing ) / 2 );
			font-size: 10px;

		}

	}

}