.toolbelt_social_share {

	font-size: 1rem;
	margin: 2rem 0;

	a {

		display: block;
		padding: 0.5rem 1rem;
		font-weight: bold;
		color: white;

		@media (min-width: 500px) {

			display: inline-block;

		}

	}

	.toolbelt_facebook {
		background-color:#3b5998;
	}

	.toolbelt_twitter {
		background-color:#1da1f2;
	}

	.toolbelt_linkedin {
		background-color:#0077b5;
	}

	.toolbelt_whatsapp {
		background-color:#075e54;

		@media (min-width: 500px) {

			display: none;

		}

	}

	.toolbelt_pinterest {
		background-color:#bd081c;
	}

}