.toolbelt-related-posts {
	display: flex;
	margin: 1rem -1rem;
	flex-wrap: wrap;
}

.toolbelt-related-posts > * {
	padding: 1rem;
}

.toolbelt-related-posts h3 {
	width: 100%;
}

.toolbelt-related-posts a {
	display: block;
	flex-grow: 1;
	flex-basis: 50%;
}

.toolbelt-related-posts img {
	display: block;
	text-decoration: none;
}

.toolbelt-related-posts .wp-caption {
	display: block;
}
