.toolbelt_social_share {

	font-size: 1rem;
	margin-top: calc( var( --toolbelt-spacing ) * 2 );
	margin-bottom: calc( var( --toolbelt-spacing ) * 2 );

	a {

		display: flex;
		padding: calc( var( --toolbelt-spacing ) / 2 ) var( --toolbelt-spacing );
		color: white;
		align-items: center;

		@media (min-width: 500px) {

			display: inline-flex;

		}

	}

	svg {

		margin: 0 calc( var( --toolbelt-spacing ) / 2 ) 0 0;
		height: 1.5rem;
		width: 1.5rem;
		vertical-align: middle;

		* {

			stroke: none;
			fill: currentColor;

		}

	}

	.toolbelt_facebook {

		background-color:#3b5998;

	}

	.toolbelt_twitter {

		background-color:#1da1f2;

	}

	.toolbelt_linkedin {

		background-color:#0077b5;

	}

	.toolbelt_whatsapp {

		background-color:#075e54;

		@media (min-width: 500px) {

			display: none;

		}

	}

	.toolbelt_pinterest {

		background-color:#bd081c;

	}

}