.toolbelt-related-posts {

	div {

		a {

			padding: var( --toolbelt-spacing );
			padding-top: 0;

		}

	}

	h3 {

		width: 100%;
		margin-bottom: 0;

	}

	h4 {

		margin: 0;

	}

	a {

		display: block;

	}

	img {

		display: block;
		text-decoration: none;
		margin-bottom: calc( var( --toolbelt-spacing ) / 2 );

	}

	.wp-caption {

		display: block;

	}

}