.wp-block-toolbelt-layout-grid {

	> .block-editor-inner-blocks {

		> .block-editor-block-list__layout {

			display: grid;
			grid-template-columns: 1fr;
			grid-gap: var( --toolbelt-spacing );
			grid-auto-flow: dense;

		}

	}

	.wp-block-column {

		margin: 0 !important;

		// This removes the empty div that is appearing when .wp-block-columns are selected.
		// Without this the divs will be placed into the grid shifting the content around.
		+ div:not([class]) {

			position: absolute;

		}

	}

	&.has-background {

		padding: var( --toolbelt-spacing );

	}

}

@mixin toolbelt-grid-columns( $columns, $layout, $design, $first_position: false ) {

	.toolbelt-grid-layout-#{$columns}-#{$layout} > .block-editor-inner-blocks > .block-editor-block-list__layout {

		grid-template-columns: $design;

	}

	@if $first_position != false {

		.toolbelt-grid-layout-#{$columns}-#{$layout} > .block-editor-inner-blocks > .block-editor-block-list__layout > :nth-child( 1 ) {

			grid-column: $first_position;

		}

	}

}


@include toolbelt-grid-columns( 2, 0, 1fr 1fr );
@include toolbelt-grid-columns( 2, 1, 3fr 1fr );
@include toolbelt-grid-columns( 2, 2, 1fr 3fr, 2 );

@include toolbelt-grid-columns( 3, 0, 1fr 1fr 1fr );
@include toolbelt-grid-columns( 3, 1, 1fr 2fr 1fr, 2 );
@include toolbelt-grid-columns( 3, 2, 2fr 1fr 1fr );
@include toolbelt-grid-columns( 3, 3, 1fr 1fr 2fr, 3 );

@include toolbelt-grid-columns( 4, 0, 1fr 1fr 1fr 1fr );
@include toolbelt-grid-columns( 4, 1, 2fr 1fr 1fr 1fr );
@include toolbelt-grid-columns( 4, 2, 1fr 1fr 1fr 2fr, 4 );

@include toolbelt-grid-columns( 5, 0, 1fr 1fr 1fr 1fr );



//
.toolbelt-grid-buttongroup {

	display: grid;
	grid-gap: 8px;
	grid-template-columns: 1fr 1fr 1fr;

	.toolbelt-grid-button {

		height: auto;
		width: 100%;
		padding: 8px;
		text-align: center;

		&.toolbelt-selected {

			border: 1px solid currentColor;

		}

		svg {

			margin: 0 auto;

		}

	}

}
