.toolbelt-infinite-scroll {

	.pagination {

		display: none;

	}

	.toolbelt-infinite-scroll-wrapper {

		padding: calc( var( --toolbelt-spacing ) * 2 ) 0;
		display: block;
		width: 100%;

	}

	.toolbelt-divider {

		display: block;
		width: 100%;
		font-size: 1rem;

	}

	.toolbelt-spinner {

		display: none;

		&:after {

			content: '';
			height: 2rem;
			width: 2rem;
			display: inline-block;
			border-radius: 2rem;
			border: 0.2rem solid transparent;
			border-top-color: currentColor;
			border-bottom-color: currentColor;
			animation: toolbelt-spinner 1s ease infinite;

		}

	}

}

.toolbelt-infinite-scroll-end {

	.toolbelt-infinite-scroll-wrapper {

		display: none;

	}

}

@keyframes toolbelt-spinner {
	to {
		transform: rotate(360deg);
	}
}