.wp-block-toolbelt-slider {

	min-height: 8rem;
	position: relative;
	overflow-x: scroll;
	overflow-y: hidden;
	padding-bottom: var( --toolbelt-spacing );
	margin-bottom: var( --toolbelt-spacing );

	ul {

		margin: 0;
		padding: 0;
		width: fit-content;
		display: flex;

	}

	&.is-style-normal {

		ul {

			> :first-child {
				margin-inline-start: 0;
			}
			> :last-child {
				margin-inline-end: 0;
			}

		}

	}

	&.is-style-padding {

		padding: var( --toolbelt-spacing );

	}

	&.is-style-border {

		padding: var( --toolbelt-spacing );
		border: 1px solid currentColor;

	}

	@import "_scrollbar";

}

@import "_slide";