.wp-block-toolbelt-slider {

	min-height: 8rem;
	position: relative;
	background: #f5f5f5;
	overflow-x: scroll;
	overflow-y: hidden;

	ul {

		margin: 0;
		width: fit-content;
		display: flex;
		padding: var( --toolbelt-spacing ) calc( var( --toolbelt-spacing ) / 2 );

	}

}

.wp-block-toolbelt-slide {

	margin: 0 calc( var( --toolbelt-spacing ) / 2 );
	width: 15rem;
	height: 15rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background: black;
	color: white;
	padding: var( --toolbelt-spacing );

	a,
	> * {

		margin: 0 !important;
		color: currentColor;

	}

}