.toolbelt-portfolio {

	.toolbelt-project {

		padding: 0 var( --toolbelt-spacing );
		margin-bottom: calc( var( --toolbelt-spacing ) * 1.5 );

	}

	.thumbnail {

		margin-bottom: calc( var( --toolbelt-spacing ) / 4 );
		display: block;

	}

	h2 {

		margin-top: 0;
		clear: both;
		margin-bottom: calc( var( --toolbelt-spacing ) / 2 );

	}

}