.toolbelt-contact-form {

	label,
	fieldset {

		margin-bottom: var(--toolbelt-spacing);

	}

	label,
	.toolbelt-label {

		width: 100%;
		display: block;

	}

	label {

		input {

			// width: 100%;

		}

	}

	fieldset {

		label {

			margin: 0;
			padding: ( calc( var(--toolbelt-spacing) / 4) ) 0;

		}

	}

}