.toolbelt-contact-form {

	label,
	fieldset {

		margin-bottom: var( --toolbelt-spacing );

	}

	label,
	.toolbelt-label,
	.toolbelt-description {

		width: 100%;
		display: block;

	}

	label {

		input {

			// width: 100%;

		}

	}

	.toolbelt-description {

		font-weight: normal;
		font-style: italic;
		margin-bottom: calc( var( --toolbelt-spacing ) / 2 );

	}

	fieldset {

		label {

			margin: 0;
			padding: ( calc( var(--toolbelt-spacing) / 4) ) 0;

		}

	}

	textarea {

		resize: vertical; /* user can resize verticaly, but width is fixed */

	}

	.toolbelt-changed {

		&:invalid,
		&:focus:invalid {

			outline: 0.1em solid red;

		}

	}

}