.toolbelt-contact-form {

	label {

		margin-bottom: var( --toolbelt-spacing );
		width: 100%;

		input {

			width: 100%;

		}

	}

	.toolbelt-fieldset {

		margin-bottom: var(--toolbelt-spacing);

		label {

			padding: 1rem;
			margin-bottom: calc( var(--toolbelt-spacing) / 4 );
			background: rgba( 0,0,0,0.25 );

		}

		label:last-child {

			margin-bottom: 0;

		}

	}

}