.toolbelt_cookie_wrapper {

	display: none;

	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	justify-content: center;

	padding: calc( var( --toolbelt-spacing ) / 2 );
	z-index: 999;

	font-size: 1rem;

	button,
	strong {

		padding: calc( var( --toolbelt-spacing ) / 2 ) --toolbelt-spacing;
		line-height: 1rem;

	}

	strong {

		background: white;
		color: black;

	}

	button {

		background: black;
		color: white;
		font-size: 1.5rem;

		&:hover {

			text-decoration: none;

		}

	}

}