.toolbelt-testimonials {

	> div {

		padding: var( --toolbelt-spacing );

	}

	.toolbelt-entry {

		background: white;
		color: black;
		padding: var( --toolbelt-spacing );
		margin-bottom: calc( var( --toolbelt-spacing ) / 2 );
		box-shadow: inset 0 0 0 1px rgba( 0,0,0,0.5 );

		*:last-child {

			margin-bottom: 0;

		}

	}

	footer {

		display: flex;
		align-items: center;

		.author {

			flex-grow: 1;
			font-weight: bold;
			overflow-wrap: break-word;
			word-wrap: break-word;

		}

		.avatar {

			max-width: calc( var( --toolbelt-spacing ) * 4 );
			min-width: calc( var( --toolbelt-spacing ) * 2 );
			margin-right: calc( var( --toolbelt-spacing ) / 2 );

			border-radius: 10rem;
			box-shadow: inset 0 0 0 1px rgba( 0,0,0,0.5 );
			overflow: hidden;

			img {
				z-index: -1;
			}

		}

	}

}
