.toolbelt-menu-social {

	ul {

		list-style-type: none;
		margin: 0;
		padding: 0;

	}

	li {

		display: inline;

	}

	svg {

		stroke: none;
		display: inline-block;
		vertical-align: text-bottom;

		> * {

			fill: currentColor;

		}

	}

}