.toolbelt-block-slider {

	// We need the min-height for when there's no content.
	min-height: 8rem;
	position: relative;
	background: #f5f5f5;
	overflow-x: scroll;
	overflow-y: hidden;

	> .block-editor-inner-blocks {

		> .block-editor-block-list__layout {

			display: flex;
			padding: var( --toolbelt-spacing ) calc( var( --toolbelt-spacing ) / 2 );

			.block-list-appender {

				margin: 0 calc( var( --toolbelt-spacing ) / 2 );
				align-self: stretch;

				button {

					height: 100%;

				}

			}

		}

	}

}

[data-type="toolbelt/slide"] {

	margin: 0 !important;

}

.toolbelt-block-slide {

	margin: 0 calc( var( --toolbelt-spacing ) / 2 );
	width: 15rem;
	height: 15rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background: black;
	color:white;
	padding: var(--toolbelt-spacing);
	background-size: cover;
	background-position: center center;
	position: relative;
	transition: width 200ms;

	.toolbelt-block-slide-width-s & {
		width: 10rem;
	}
	.toolbelt-block-slide-width-m & {
		width: 15rem;
	}
	.toolbelt-block-slide-width-l & {
		width: 20rem;
	}
	.toolbelt-block-slide-width-xl & {
		width: 25rem;
	}

	&:before {
		content: '';
		background: rgba(black,0.6);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
	}

	* {

		margin: 0 !important;
		z-index: 2;
		color: white;

	}

}