.toolbelt-block-slider {

	// We need the min-height for when there's no content.
	min-height: 8rem;
	position: relative;
	overflow-x: scroll;
	overflow-y: hidden;
	padding-bottom: var( --toolbelt-spacing );
	margin-bottom: calc( var( --toolbelt-spacing ) * 1.5 );

	&.is-style-normal {

		.block-editor-block-list__layout {

			> :first-child .toolbelt-block-slide {
				margin-inline-start: 0;
			}
			> :last-child .toolbelt-block-slide {
				margin-inline-end: 0;
			}

		}

	}

	&.is-style-padding {

		padding: var( --toolbelt-spacing );

	}

	&.is-style-border {

		padding: var( --toolbelt-spacing );
		border: 1px solid currentColor;

	}

	&.is-style-cosy {

		.wp-block-toolbelt-slide {

			margin: 0;

		}

	}

	> .block-editor-inner-blocks {

		> .block-editor-block-list__layout {

			display: flex;
			width: fit-content;

			.block-list-appender {

				margin: 0 calc( var( --toolbelt-spacing ) / 2 );
				align-self: stretch;

				button {

					height: 100%;

				}

			}

		}

	}

	@import "../sass/_scrollbar";

}

[data-type="toolbelt/slide"] {

	margin: 0 !important;

}

@import "../sass/_slide";