.toolbelt-block-slider {

	// We need the min-height for when there's no content.
	min-height: 8rem;
	position: relative;
	background: #f5f5f5;
	overflow-x: scroll;
	overflow-y: hidden;

	> .block-editor-inner-blocks {

		> .block-editor-block-list__layout {

			display: flex;
			padding: var( --toolbelt-spacing ) calc( var( --toolbelt-spacing ) / 2 );
			width: fit-content;

			.block-list-appender {

				margin: 0 calc( var( --toolbelt-spacing ) / 2 );
				align-self: stretch;

				button {

					height: 100%;

				}

			}

		}

	}

	@import "../sass/_scrollbar";

}

[data-type="toolbelt/slide"] {

	margin: 0 !important;

}

@import "../sass/_slide";